EasyDict==1.7
opencv-python==4.8.1.78
shapely==2.0.2
Cython==3.0.8
scipy==1.11.4
pandas==2.1.4
pyyaml==6.0.1
json_tricks==3.17.3
scikit-image==0.22.0
yacs==0.1.8
tensorboardX==1.6
tqdm==4.66.4
torch==2.3.0
torchvision==0.18.0
mmengine==0.10.5
mmcv==2.1.0
pycocotools==2.0.7
